.projects{
    position: relative;
    top: 60px;
    width: 100%;
    background: linear-gradient(135deg, #042743, cadetblue);
    padding: 3% 8%;

    .projects-Link{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        row-gap: 30px;
        flex-wrap: wrap;

        .card{
            width: 400px;
        }
    }
}