.resume{
    position: relative;
    top: 60px;
    width: 100%;
    background: linear-gradient(135deg, #042743, cadetblue);
    padding: 5% 10%;
    text-align: end;

    .resumeimg{
        background-color: #5f9ea0;
        height: 100%;
        
        img{
            height: 100%;
            width: 100%;
        };
    }

    .btn{
            margin-top: 20px;
    }
}